/* Definição das variáveis do CSS*/
:root {
    --back-color: rgb(228, 179, 139);
    --primary-color: rgb(162, 162, 233);
}

/* Resetar as configurações do computador */
* {
    background: var(--primary-color);
}
body {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    width: 200px;
    height: 200px;
    
}

 .box p{
text-align: justify;
}

.box figure {
    width: 100px;
    height: 100px;
    border-style: inset;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    
}
.box {
    width: 350px;
    height: 350px;
    border: 1px solid;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blanchedalmond;
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    background-color: aliceblue;
    justify-content: flex-start;
}

.titulo {
    text-align: center;
}


