/* Definição das variáveis do CSS*/
:root {
    --back-color: rgb(228, 179, 139);
    --primary-color: rgb(162, 162, 233);
}

/* Resetar as configurações do computador */
 {
   
}
body {
    background: var(--primary-color);
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    width: 300px;
    height: 200px;
    justify-content: center;
    text-align: center;
}

 .box p{
text-align: justify;

}

.box figure {
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 0 auto;

}

main {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    
}
.box {
    width: 350px;
    height: 350px;
   padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blanchedalmond;
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    justify-content: flex-start;
    text-align: center;
 
}

.titulo {
    text-align: center;
    background-color: aliceblue;
}


